<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Theresa Whiting: events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/events.css">
    </head>
    <body>
        <div class='header'>
            <div class='logo'>
                <a href='/'><img src='../images/logo_new.jpg'></a>
            </div>
            <ul class='nav'>
                <li>
                    <a href='../about'>About</a>
                </li>
                <li>
                    <a href='../services'>Services</a>
                </li>
                <li>
                    <a href='../contact'>Contact</a>
                </li>
                <li>
                    <a href='#blog'>Blog</a>
                </li>
            </ul>
        </div>
        <div class='footer'>
            <p>
                <span>Office:</span> 781-631-0663
            </p>
            <p>
                <span>Cell:</span> 781-724-0091
            </p>
            <p>
                <span>Email:</span> theresa [at] tdwhiting.com
            </p>
            <p>
                <span>Address:</span> Whiting Consulting , One Fox Lane, Marblehead, MA 01945
            </div>
        </div>
    </body>
</html>
