/*@sans: Helvetica, Arial, sans-serif;*/
#contact {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}
#contact input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}
#contact textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 140px;
}
.submitButton {
  text-align: center;
  margin-top: 2.5em;
}
.messageSent {
  text-align: center;
  color: #6699cc;
  font-weight: 700;
  display: none;
}
.messageFailed {
  text-align: center;
  color: red;
  font-weight: 700;
  display: none;
}
.messageImage {
  text-align: center;
}
.messageImage img {
  max-width: 100%;
}
.social {
  margin-top: 2em;
  text-align: center;
}
.social h3 {
  font-size: 1.4em;
}
.social img {
  margin: 0.5em;
}
.explainer span,
.numbers span {
  font-weight: 700;
  color: #336699;
}
.numbers {
  /*p {
		text-align: right;
	}*/
}
@media only screen and (max-width: 760px) {
  .numbers p {
    text-align: center;
  }
}
