/*@sans: Helvetica, Arial, sans-serif;*/
#contact {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}
#contact input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}
#contact .submitButton {
  text-align: center;
}
#contact textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 140px;
}
#contact .messageSent {
  text-align: center;
  color: #6699cc;
  font-weight: 700;
  display: none;
}
#contact .messageFailed {
  text-align: center;
  color: red;
  font-weight: 700;
  display: none;
}
