/*@sans: Helvetica, Arial, sans-serif;*/
/*homepage*/
.hero .container .row .highlight {
  margin-top: 2em;
  font-size: 1.2em;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1em;
}
.hero .container .row .highlight .subtagline {
  font-weight: 400;
}
.hero .container .row .highlight .learnMore {
  margin-top: 1.5em;
  text-align: left;
}
.hero .container .row .theresa {
  text-align: center;
}
.hero .container .row .theresa img {
  width: 100%;
  max-width: 340px;
  vertical-align: bottom;
}
.features {
  /*border-top: 2px solid #ccc;*/
  padding: 3em 0;
  background: #eeeeee;
}
.features .box {
  padding: 1em 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.features .box h3 {
  text-align: center;
  color: #333;
  font-weight: 700;
}
.features .box p {
  text-align: center;
  color: #444;
}
.features .box p.icon img {
  width: 40%;
}
.clients {
  padding: 3em 0;
}
.clients .quote h3 {
  text-align: center;
  color: #336699;
  font-weight: 800;
}
.clients .quote p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
}
.clients .company {
  text-align: center;
}
.clients .company img {
  width: 100%;
  max-width: 200px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.clients .company img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
.bottom {
  background: #eeeeee;
  padding: 6em 0 4em 0;
}
.bottom p {
  text-align: center;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .hero .container .row .highlight {
    margin-top: 0em;
  }
  .hero .container .row .highlight .headliner {
    font-size: 1.8em;
    text-align: center;
  }
  .hero .container .row .highlight .subtagline {
    font-size: 1.2em;
    text-align: center;
  }
  .hero .container .row .highlight p.learnMore {
    text-align: center;
  }
  .hero .container .row .theresa img {
    max-width: 240px;
  }
  .clients .quote h3 {
    font-size: 1.8em;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .hero .container .row .highlight .headliner {
    font-size: 1.2em;
    line-height: 1.2;
  }
  .hero .container .row .highlight .subtagline {
    font-size: 0.9em;
  }
  .bottom p {
    font-size: 1em;
  }
}
