/*@sans: Helvetica, Arial, sans-serif;*/
/*homepage*/
.hero .container .row {
  margin: 0;
}
.hero .container .row .highlight {
  margin-top: 2em;
  font-size: 1.2em;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1em;
}
.hero .container .row .highlight .subtagline {
  font-weight: 400;
}
.hero .container .row .highlight .explainer {
  margin: 1.5em 0 2.5em 0;
  font-size: 0.9em;
}
.hero .container .row .highlight .learnMore {
  margin-top: 1.5em;
  text-align: left;
}
.hero .container .row .theresa {
  text-align: center;
}
.hero .container .row .theresa img {
  width: 100%;
  max-width: 340px;
  vertical-align: bottom;
}
.features {
  /*border-top: 2px solid #ccc;*/
  padding: 3em 0;
  background: #336699;
}
.features .box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.features .box h3 {
  color: #eee;
  font-weight: 700;
  text-align: center;
}
.features .box p.quote {
  font-weight: 300;
  font-style: italic;
}
.features .box p {
  /*color: #444;*/
  color: #fff;
}
.features .box p img {
  float: left;
  width: 20%;
  margin: 0 1em 1em 0;
}
.features .box p.last {
  border-bottom: 1px dashed #eee;
  padding-bottom: 1em;
}
.features .box.right p.quote {
  text-align: right;
}
.features .box.right p img {
  float: right;
  margin: 0 0 1em 1em;
}
.clients {
  padding: 3em 0;
}
.clients .testimony h3 {
  text-align: center;
  color: #336699;
  font-weight: 800;
}
.clients .testimony p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}
.clients .testimony p span {
  font-weight: 700;
}
.clients .company {
  text-align: center;
}
.clients .company img {
  width: 100%;
  max-width: 200px;
}
.bottom {
  padding: 6em 0 4em 0;
}
.bottom p {
  text-align: center;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .hero .container .row .theresa {
    margin-top: 81px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .hero .container .row .highlight {
    margin-top: 0em;
  }
  .hero .container .row .highlight .headliner {
    font-size: 1.8em;
    text-align: center;
  }
  .hero .container .row .highlight .subtagline {
    font-size: 1.2em;
    text-align: center;
  }
  .hero .container .row .highlight p.learnMore {
    text-align: center;
  }
  .hero .container .row .theresa img {
    max-width: 240px;
  }
  .clients .quote h3 {
    font-size: 1.8em;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .hero .container .row .highlight .headliner {
    font-size: 1.2em;
    line-height: 1.2;
  }
  .hero .container .row .highlight .subtagline {
    font-size: 0.9em;
  }
  .bottom p {
    font-size: 1em;
  }
}
