<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Theresa Whiting: executive coach - contact</title>
        <meta name="description" content="Contact Theresa Whiting and get started taking your professional career to the next level by learning how to communicate success.">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/contact.css">
    </head>
    <body>
        <div class='header'>
            <div class='logo'>
                <a href='/'><img src='../images/logo_new.jpg'></a>
            </div>
            <div class='navContainer'>
                <div class='navSocial'>
                    <a href='http://twitter.com/whitingwisdom' target='_blank'><img src='../images/social/twitter.jpg'></a>
                    <a href='http://linkedin.com' target='_blank'><img src='../images/social/linkedin.jpg'></a>
                </div>
                <ul class='nav'>
                    <li>
                        <a href='../'>Home</a>
                    </li>
                    <li>
                        <a href='../about'>About</a>
                    </li>
                    <li>
                        <a href='../services'>Services</a>
                    </li>
                    <li>
                        <a href='../contact'>Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='sixteen columns'>
                    <h1 class='headliner'>Get in touch</h1>
                    <p>
                        We'd love to talk with you. We can discuss how we can work together to provide the best possible experience.  Let us know when it would be convenient to have a conversation.
                    </p>
                    <p class='messageImage'>
                        <img src='../images/other/message.png'>
                    </p>
                    <p class='messageImage'>
                        We look forward to the opportunity of working with you.
                    </p>
                    <form id='contact' action='email.php'>
                        <input class='name' type='text' name='name' maxlength='24' placeholder='jane smith (required)' required>
                        <input class='email' type='email' name='email' maxlength='30' required placeholder='name@example.com (required)'>
                        <input class='phone' type='text' name='phone' maxlength='24' placeholder='555-555-1234'>
                        <input class='company' type='text' name='company' maxlength='24' placeholder='company'>
                        <input class='website' type='text' name='website' maxlength='24' placeholder='company website'>
                        <textarea class='message' name='message' maxlength='400' placeholder='Inquiry here.'></textarea>
                    </form>
                    <p class='submitButton'><a href='#' class='buttonLink bigOne'>Send</a></p>
                    <p class='messageSent'>Message sent.</p>
                    <p class='messageFailed'>Server error. Message failed.</p>
                </div>
            </div>
            <div class='row'>
                <div class='sixteen columns social'>
                    <h3>Stay up to date by following us:</h3>
                    <p>
                        <a href='http://twitter.com/whitingwisdom' target='_blank'><img src='../images/social/twitter.jpg'></a>
                        <a href='http://linkedin.com' target='_blank'><img src='../images/social/linkedin.jpg'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class='footer'>
            <p>
                <span>Office:</span> 781-631-0663
            </p>
            <p>
                <span>Cell:</span> 781-724-0091
            </p>
            <p>
                <span>Email:</span> theresa [at] tdwhiting.com
            </p>
            <p>
                <span>Address:</span> Whiting Consulting , One Fox Lane, Marblehead, MA 01945
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type='text/javascript'>
            (function() {
                $('.submitButton').on('click', function(e) {
                    e.preventDefault();
                    var email = $('#contact .email').val();
                    var name = $('#contact .name').val();
                    var phone = $('#contact .phone').val();
                    var company = $('#contact .company').val();
                    var website = $('#contact .website').val();
                    var message = $('#contact .message').val();
                    $.post('../php/email.php', {email: email, name: name, phone: phone, company: company, website: website, message: message}, function(data) {
                        if(data) {
                            $('.messageFailed').show();
                            setTimeout(function() {
                                $('.messageFailed').fadeOut();
                            }, 3000);
                        } else {
                            $('#contact .email').val('');
                            $('#contact .name').val('');
                            $('#contact .phone').val('');
                            $('#contact .company').val('');
                            $('#contact .website').val('');
                            $('#contact .message').val('');
                            $('.messageSent').show();
                            setTimeout(function() {
                                $('.messageSent').fadeOut();
                            }, 3000);
                        }
                    });
                    return false;
                });
            })();
        </script>
    </body>
</html>
