<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Theresa Whiting: executive coach - about</title>
        <meta name="description" content="Theresa Whiting is a seasoned executive coach with over 30 years experience providing the tools and training to help you communicate success. She is located in the Boston area.">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <div class='header'>
            <div class='logo'>
                <a href='/'><img src='../images/logo_new.jpg'></a>
            </div>
            <div class='navContainer'>
                <p class='phone'>781-631-0663</p>
                <ul class='nav'>
                    <li>
                        <a href='../'>Home</a>
                    </li>
                    <li>
                        <a href='../about'>About</a>
                    </li>
                    <li>
                        <a href='../services'>Services</a>
                    </li>
                    <li>
                        <a href='../contact'>Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='sixteen columns'>
                    <h1 class='headliner'>About</h1>
                    <p class='highlight'> 
                        Theresa Whiting is a seasoned executive coach with over 30 years business experience, 17 years consulting, 10 years at IBM, and 5 years at Mellon Bank. 
                    </p>
                    <p>
                        <img class='aboutImg' src='../images/theresa_about.jpg'>
                        Known for her business acumen and effective communication style, Theresa has a solid track record of supporting managers with evaluating performance, conducting tough conversations, dealing with conflict and motivating teams through communication efficiencies. The majority of her clients are highly competent professionals ranging from  mid-level managers up to C-suite executives. 
                    </p>
                    <p>
                        Her understanding of the dynamics and trends in architect, real estate, construction and engineering, financial services, manufacturing, and pharmaceutical, make her uniquely qualified as a developer and facilitator of communication programs as well as one-on-one leadership consulting to a number of Fortune 500 clients.
                    </p>
                    <p>
                        Her career started at IBM, which led to her success in managing customer support and branch operations throughout the Northeast. Later, she joined The Boston Company, a leading nationwide investment firm, where she established and grew an extensive new training department. Theresa Whiting designed, managed and implemented highly successful training programs for over 1,000 employees and revamped the company's orientation program.
                    </p>
                    <p>
                        When Mellon Bank acquired The Boston Company in 1993, she was a key player in facilitating the merger. As Vice President and Director of Training &amp; Development, she instituted a transitional plan and curriculum for integrating the two, very large organizations. This included successfully managing teams of associates in Pittsburgh and Boston, with responsibility for all ongoing training. Theresa Whiting holds a B.S. in Business Management from Boston University. She is a qualified administrator of the Myers-Briggs Type Indicator instrument and a long standing member of The International Coaching Federation of New England.
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='sixteen columns clients'>
                    <h3>Clients we have worked with:</h3>
                    <p><img src='../images/clients/all.jpg'></p>
                </div>
            </div>
            <div class='row'>
                <div class='sixteen columns social'>
                    <h3>Stay updated:</h3>
                    <p>
                        <a href='http://linkedin.com' target='_blank'><img src='../images/social/linkedin.jpg'></a>
                        <a href='http://twitter.com' target='_blank'><img src='../images/social/twitter.jpg'></a>
                        <a href='http://facebook.com' target='_blank'><img src='../images/social/facebook.jpg'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class='footer'>
            <p>
                <span>Office:</span> 781-631-0663
            </p>
            <p>
                <span>Cell:</span> 781-724-0091
            </p>
            <p>
                <span>Email:</span> theresa [at] tdwhiting.com
            </p>
            <p>
                <span>Address:</span> Whiting Consulting , One Fox Lane, Marblehead, MA 01945
            </div>
        </div>
    </body>
</html>
