@import 'variables.less';
h1 {
	color: @blue-dark;
	font-weight: 700;
}
.highlight {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.6;
}
.aboutImg {
	float: left;
	width: 23%;
	max-width: 300px;
	min-width: 120px;
	margin: 0.4em 1em 0.5em 0;
}
.clients {
	img {
		margin: 1em 0;
		width: 100%;
		border: 1px solid #ccc;
	}
}
.social {
	margin-top: 2em;
	text-align: center;
	img {
		margin: 0.5em;
	}
}
.specialBackground {
	padding: 2em;
	background: @blue;
}
.testimony {
	color: #fff;
	max-width: 640px;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 1.4;
	/*font-style: italic;*/
	span {
		font-weight: 700;
	}
}