@import 'variables.less';

#contact {
	margin: 0 auto;
	max-width: 360px;
	width: 100%;
	input {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
	}
	input.submitButton {
		width: 100%;
		background: @orange;
		color: #fff;
		font-size: 1.3em;
		font-weight: 300;
		font-family: $sans;
		text-transform: uppercase;
		border: none;
		&:hover {
			background: @orange-dark;
		}
	}
	textarea {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		resize: none;
		width: 100%;
		height: 140px;
	}
	.messageSent {
		text-align: center;
		color: @blue;
		font-weight: 700;
		display: none;
	}
	.messageFailed {
		text-align: center;
		color: red;
		font-weight: 700;
		display: none;
	}
}